<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.cranberrygame.phonegap.plugin.ad.leadbolt"
    version="1.0.6">
	
    <name>Leadbolt</name>
    <description>Leadbolt</description>
    <license>MIT</license>
    <keywords>phonegap, leadbolt</keywords>
    <repo>https://github.com/cranberrygame/com.cranberrygame.phonegap.plugin.ad.leadbolt</repo>
 	
    <!-- android -->
<!--
//edit your_phonegapcli_project\plugins\com.cranberrygame.phonegap.plugin.ad.leadbolt\src\android\BootReceiver.java
...
		intent.putExtra("sectionid", "YOUR_REENGAGEMENT_SECTION_ID");
...		
-->	
    <platform name="android">
		<js-module src="www/android/AdController.js">
			<clobbers target="window.AdController" />
		</js-module>
	
        <config-file target="res/xml/config.xml" parent="/*">
 			<feature name="AdController">
				<param name="android-package" value="com.leadbolt.phonegap.android.LBPhonegapPlugin" />
			</feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET"/>
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
			
			<!-- Permissions Required if you are using App Re-Engagements -->
<!--
			<uses-permission android:name="android.permission.WAKE_LOCK" />
			<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
-->			
        </config-file>

<!--		
        <config-file target="AndroidManifest.xml" parent="/manifest/application">

			<service android:name="com.nwvlwgbwdtkfcwuk.ReEngagementService"></service>
			<receiver android:name="com.nwvlwgbwdtkfcwuk.ReEngagement" />
			<service android:name="com.nwvlwgbwdtkfcwuk.AdBootReceiverService" />
	
			<receiver android:name="BootReceiver">
				<intent-filter>
					<action android:name="android.intent.action.BOOT_COMPLETED" />
				</intent-filter>
			</receiver>
        </config-file>
-->		
		
		<source-file src="src/android/nwvlwgbwdtkfcwuk.jar" target-dir="libs" />
		<source-file src="src/android/LBPhonegapPlugin.jar" target-dir="libs" />

<!--		
		<source-file src="src/android/BootReceiver.java" target-dir="src" />
-->
     </platform>

	 <!-- ios -->
<!--
xcode-Project's Target-Build Phases-Compile Sources-JSONKit.m-Compiler Flags: "-fno-objc-arc" (without quotes)
-->	 
     <platform name="ios">
		<js-module src="www/ios/AdController.js">
			<clobbers target="window.AdController" />
		</js-module>
		
		<config-file target="config.xml" parent="/*">
			<feature name="AdController">
				<param name="ios-package" value="LBPhonegapPlugin" />
				<param name="onload" value="true" />
			</feature>			 
		</config-file>
		
		<header-file src="src/ios/JSONKit.h" />
		<source-file src="src/ios/JSONKit.m" />		
	
		<header-file src="src/ios/LeadboltOverlay.h" />
		<source-file src="src/ios/libLeadboltOverlay.a" framework="true" />		

		<header-file src="src/ios/AppTracker.h" />
		<source-file src="src/ios/libAppTracker.a" framework="true" />		

		<header-file src="src/ios/LBPhonegapPlugin.h" />
		<source-file src="src/ios/libLBPhonegapPlugin.a" framework="true" />

		<framework src="AudioToolbox.framework" />
		<framework src="AVFoundation.framework" />
		<framework src="AdSupport.framework" />
		<framework src="SystemConfiguration.framework" />
		<framework src="CoreMotion.framework" />
		<framework src="StoreKit.framework" />	
	</platform>
</plugin>